/*Base Styling for Entire Page*/
body{
	background: #CFD8DC;
	font-family: 'Open-Sans', Arial, sans-serif;
	margin: 0;
}

/*Left Side Input Field*/
.enter-button{
	background-color: #FFC107;
	border: 0 solid #FFF;
	color: #FFF;
	display: block;
	font-size: 24px;
	font-weight: 800;
	margin: 60px auto;
	width: 90%;
}

.enter-button:hover{
	background-color: #FFD773;
}

.enter-button:disabled{
	background-color: #999;
	opacity: 0.3;
}

.front-page-focus{
	position: relative;
	top: 30%;
	transform: traslateY(-30%);

}

h1{
	display: block;
	font-size: 5vw;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

.input-field{
	box-sizing: border-box;
	display:block;
	font-size: 3vw;
	margin: 2vw auto;
	padding: 10px;
	width: 35vw;
}

.logo{
	margin: 0 10px 0 5px;
	width: 7vw;
}

main{
	background-color: #455A64;
	color: #FFF;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 50%;
}

/*Right Side Input Field*/

/*Buttons*/
.bookmark-buttons{
	color: #455A64;
	background-color: transparent;
	border: 0px solid #FFF;
	font-size: 16px;
	margin-top: 10px;
	text-decoration-color: #F2F4F4;
	text-decoration-line: underline;
}

.bookmark-buttons:hover{
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.delete-button{
	float: right;
}

.read-button{
	color: #F05A28;
	font-weight: 800;
}

/*Text Elements*/
h2{
	font-size: 32px;
	margin: 5px 0;
}

.saved-url-link{
	color: #607D8B;
	font-size: 24px;
	text-decoration-color: #F2F4F4;
}

.saved-url-link:hover{
	color: #455A64;
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.read-url-link{
	text-decoration-color: #CFD8DC;
}


/*Defined Layout Sections*/
.saved-website{
	background-color: #FFF;
	border: 1px solid #607D8B;
	color: #455A64;
	display: block;
	margin: 20px;
	padding: 10px 20px;
}

.read-website{
	background-color: #F2F4F4;
}

section{
	display: inline-block;
	float: right;
	height: 100%;
	position: relative;
	right: 0;
	top: 0;
	width: 50%;
}

.url-section{
	border-bottom: 1px solid #CFD8DC;
	border-top: 1px solid #CFD8DC;
	padding: 20px 0;
}

/*Media Queries*/
@media screen and (max-width: 550px){
	h1{
		font-size: 6vw;
		padding-top: 4vw;
	}
}

@media screen and (max-width: 550px){
	.input-field{
		width: 85%;
		font-size: 6vw;
		margin: 6vw auto;
	}
}

@media screen and (max-width: 550px){
	.logo{
		width: 8vw;
	}
}

@media screen and (max-width: 550px){
	main {
		position:relative;
		height: 40%;
		width: 100%;
	}
}

@media screen and (max-width: 550px){
	section {
		float: none;
		width: 100%;
	}
}