/*Base Styling for Entire Page*/
body{
	font-family: 'Open-Sans', Arial, sans-serif;
	margin: 0;
}

/*Left Side Input Field*/
.enter-button{
	background-color: #FFC107;
	border: 0 solid #FFF;
	color: #FFF;
	display: block;
	font-size: 24px;
	font-weight: 800;
	margin: 60px auto;
	width: 90%;
}

.enter-button:hover{
	background-color: #FFD773;
}

.front-page-focus{
	position: relative;
	top: 20%;
}

h1{
	display: block;
	font-size: 100px;
	font-weight: 800;
	margin: 0 auto;
	width: 90%;
}

.input-field{
	display:block;
	font-size: 40px;
	margin: 60px auto;
	padding: 10px;
	width: 85%;
}

.logo{
	margin: 0 10px 0 5px;
	width: 125px;
}

main {
	background-color: #455A64;
	color: #FFF;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 50%;
}

/*Right Side Input Field*/
.bookmark-buttons{
	color: #455A64;
	background-color: #FFF;
	border: 0px solid #FFF;
	font-size: 16px;
	text-decoration-color: #F2F4F4;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.bookmark-buttons:hover{
	font-weight: 800;
	text-decoration-line: underline;
	text-decoration-color: #FFC107;
	text-decoration-style: solid;
}

.delete-button{
	float: right;
}

.saved-url-link{
	border-bottom: 1px solid #CFD8DC;
	border-top: 1px solid #CFD8DC;
	color: #607D8B;
	margin: 10px auto;
	padding: 10px auto;
}

.saved-website{
	background-color: #FFF;
	border: 1px solid #607D8B;
	color: #455A64;
	margin: 10px;
	padding: 10px;
}

section{
	background: #CFD8DC;
	display: inline-block;
	float: right;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;

}


